DATA_PROVIDER=psxterminal
PSXTERMINAL_BASE_URL=https://psxterminal.com
PSXTERMINAL_MARKET_TYPE=REG
PSXTERMINAL_QUOTE_CACHE_TTL_SECONDS=15
PSXTERMINAL_KLINE_CACHE_TTL_SECONDS=28800
PSXTERMINAL_MAX_REST_QUOTE_SYMBOLS=100
PSXTERMINAL_REST_PAUSE_SECONDS=0.1
PSXTERMINAL_QUOTE_WORKERS=6
PSXTERMINAL_USE_TICK_ENDPOINT=false
CAPITALSTAKE_BASE_URL=https://csapis.com
CAPITALSTAKE_API_TOKEN=
CAPITALSTAKE_QUOTE_CACHE_TTL_SECONDS=15
CAPITALSTAKE_EOD_CACHE_TTL_SECONDS=28800
PSX_DPS_BASE_URL=https://dps.psx.com.pk
PSX_DPS_CACHE_TTL_SECONDS=28800
WATCHLIST=HBL,UBL,MCB,BAHL,MEBL,BOP,NBP,BAFL,FABL,AKBL,OGDC,PPL,POL,MARI,PSO,APL,ATRL,PRL,NRL,HUBC,KAPCO,NCPL,NPL,KEL,LUCK,MLCF,DGKC,FCCL,KOHC,CHCC,PIOC,POWER,ENGROH,FFC,EFERT,FATIMA,EPCL,FCEPL,LOTCHEM,SYS,TRG,NETSOL,AVN,OCTOPUS,AIRLINK,PAEL,WAVES,PTC,TELE,HUMNL,ILP,GATM,NML,NCL,IMAGE,SEARL,GLAXO,AGP,ABOT,HALEON,INDU,HCAR,SAZEW,MTL,GHNI,UNITY,FFL,TOMCL,PREMA,SNGP,SSGC,PIBTL,PSX,THALL,GAL,MUGHAL,ISL,ASTL,INIL,COLG,PKGS,RMPL,UPFL,PAKT
REPORT_TIMEZONE=Asia/Karachi
MAX_RECOMMENDATIONS=20
MAX_ANALYSIS_SYMBOLS=0
RISK_PER_TRADE_PCT=1.0
MIN_AVG_VOLUME=500000
